.env
.conda
__pycache__
bot.err.log
bot.log
bugs
db_config.py
draft_modal.py
fantasy_football.db
fantasy_registration.py
ingame_stats.json
initialize_fantasy_football.sql
load_players.py
load_projection_ids.py
load_projections.py
load_schedule.py
load_stat.py
music_old.py
nfl_schedule.json
player_list.json
print_structure.py
projections.json
update_espnid.py
test.py
real_time_box.json
average_draft_position.json
.hypothesis
.coverage